dask
distributed
eodag
geopandas
httpx
matplotlib
numpy
opencv-python-headless
pandas
planetary-computer
pystac
pystac-client
python-dateutil
rioxarray
scikit-image
sertit
stackstac
thunder-registration
xarray
